# yaml-language-server: $schema=https://json.schemastore.org/dependabot-2.0.json
# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/" # Location of package manifests
    open-pull-requests-limit: 10
    schedule:
      interval: "daily"
    groups:
      # group the main nextjs packages group as one PR, since they're
      # created together and are annoying to update separately.  Unfortunately,
      # they're not scoped under @next, so we'll need to add anything
      # from https://github.com/vercel/next.js/tree/canary/packages
      # that's not captured by "*next*" and isn't a dep of an existing top-level
      # package we use if we start using it.
      next:
        applies-to: version-updates
        patterns:
          - "*next*"
          - "eslint-config-next"
        update-types:
          - "major"
          - "minor"
          - "patch"
      react:
        applies-to: version-updates
        patterns:
          - "react"
          - "react-dom"
        update-types:
          - "major"
          - "minor"
          - "patch"
      radix-ui:
        applies-to: version-updates
        patterns:
          - "@radix-ui/*"
        update-types:
          - "major"
          - "minor"
          - "patch"