# Copy this to .env.local to set local variables

# Preview
# EXPERIMENTER_API_CALL="experiments/?status=Preview&application=firefox-desktop"

# Disable Auth0 for dev && preview environments
IS_AUTH_ENABLED='false'

# Auth0 properties
# A long, secret value used to encrypt the session cookie.
# (use `openssl rand -hex 32` to generate a 32 byte value)
AUTH0_SECRET='LONG_RANDOM_VALUE'

# The base url of the application
AUTH0_BASE_URL='http://localhost:3000'

# The url of the Auth0 tenant domain
AUTH0_ISSUER_BASE_URL='https://YOUR_AUTH0_DOMAIN.auth0.com'

# The application's Client ID
AUTH0_CLIENT_ID='YOUR_AUTH0_CLIENT_ID'

# The application's Client Secret
AUTH0_CLIENT_SECRET='YOUR_AUTH0_CLIENT_SECRET'

# Looker configurables
#
# Base URL for API. Do not include /api/* in the url
#base_url=https://<your-looker-endpoint>:19999
LOOKERSDK_BASE_URL=XXX_REPLACE_WITH_ORGANIZATIONAL_LOOKER_BASE_URL
# API client id. You can instead customize how this is provided by overriding readConfig()
LOOKERSDK_CLIENT_ID=XXX_REPLACE_WITH_YOUR_CLIENT_ID
# API client secret. You can instead customize how this is provided by overriding readConfig()
LOOKERSDK_CLIENT_SECRET=XXX_REPLACE_WITH_YOUR_CLIENT_SECRET
# Set to false only if testing locally against self-signed certs. Defaults to true if not specified
LOOKERSDK_VERIFY_SSL=true
# Timeout in seconds for HTTP requests. Defaults to 2 minutes (120) seconds if not specified.
LOOKERSDK_TIMEOUT=120
